@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--c-text-base);
}

:root {
  --node-width: 192px;
  --node-height: 56px;

  --c-text-base: #ffffff;

  --c-bg-base: #171717;
  --c-bg-alt: #202020;

  --c-border: #2c2c2c;

  --c-outline-selected: rgb(92, 92, 92);

  --border-radius-sm: 4px;

  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
}

.react-flow__handle {
  opacity: 0;
}